body {
    background-color: #2B2B2B;
}

.test-page {
    text-align: center;
    margin: auto 0px;
    display: flex;
    justify-content: center;
}

#game-container {
    margin: 0px auto;
    width: fit-content;
}

.settings-container {
    margin: 0px 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.settings-title {
    width: 100%;
    margin: 0px auto;
    text-align: center;
    font-size: 24px;
    color: whitesmoke;
}

.settings-input {
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
    white-space: nowrap;
    color: whitesmoke;
    margin-bottom: 10px;
}

.game-options {
    display: block;
}

input {
    width: 14px;
    height: fit-content;
    font-size: 14px;
    text-align: center;
}

#newGame {
    width: fit-content;
    height: fit-content;
}

.new-game {
    width: fit-content;
    height: fit-content;
    background-color: #3B3B3B;
    color: whitesmoke;
    font-size: 18px;
    padding: 1px 5px;
    border-style: groove;
    border-color: #1B1B1B;
    border-top-color: #9b9b9b;
    border-left-color: #9b9b9b;
}

#game {
    grid-column: 2/4;
    padding-top: 20px;
    padding-left: 5px;
}

#keyboard {
    grid-column: 2/4;
    margin-top: 20px;
}

.guess {
    background-color: #3B3B3B;
}

.attempt>div {
    color: whitesmoke;
    font-size: 48px;
    text-align: center;
    min-width: 40px;
    min-height: 55px;
    border: grey;
    border-style: outset;
}

.attempt {
    display: flex;
    justify-content: center;
    gap: 2px;
    margin-bottom: 6px;
}

.keyRow {
    display: flex;
    justify-content: center;
    gap: 2px;
    margin-bottom: 2px;
}

.key {
    background-color: #3B3B3B;
    color: whitesmoke;
    min-width: 20px;
    min-height: 30px;
    border: grey;
    border-style: outset;
}

#enter,
#delete {
    background-color: #3B3B3B;
    color: whitesmoke;
    min-width: 35px;
    min-height: 30px;
    border: grey;
    border-style: outset;
}

#guess {
    visibility: hidden;
}

.correct {
    background-color: green;
}

.close {
    background-color: orangered;
}

.incorrect {
    background-color: #1B1B1B;
}

#message {
    color: whitesmoke;
    font-size: 24px;
}

.dropdown {
    display: block;
    margin: 0px;
    background-color: #3B3B3B;
    color: whitesmoke;
    font-size: 18px;
    border-style: groove;
    border-color: #1B1B1B;
    border-top-color: #9b9b9b;
    border-left-color: #9b9b9b;
    max-width: 100px;

}

.dropdown-container {
    padding-top: 10px;
    padding-left: 25px;
    padding-bottom: 10px;
    position: absolute;
    z-index: 1;
    min-width: 200px;
    background-color: #3B3B3B;
    color: whitesmoke;
    box-shadow: 4px 4px 10px 3px #1B1B1B;
    font-size: 18px;
    margin: 0px;
    list-style: none;
}

.hide {
    display: none;
}

.dropdown-content {
    white-space: nowrap;
}

.guessCount {
    margin-left: 30px;
    margin-right: 4px;
}

#attempt0 {
    margin: 0px 20px;
    margin-bottom: 6px;
}

#fiveWordHeader {
    color: whitesmoke;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
}

#fiveWordWordHeader {
    width: 75%;
    text-align: center;
}

#fiveWordAttemptHeader {
    width: 25%;
    text-align: right;
}